# azure-pipelines.yml
trigger:
- main

pool:
  name: local-agent # your self-hosted agent

stages:
- stage: RunTests
  displayName: 'Run API Tests'
  jobs:
  - job: TestJob
    steps:
    - script: robot -d results tests/api
      displayName: 'Run API robotfrmework'

    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'results/output.xml'
       # searchFolder: '$(System.DefaultWorkingDirectory)/results'
       # mergeTestResults: true
        testRunTitle: 'Robot Framework Tests'

    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/results'
        ArtifactName: 'robot-test-results'
        publishLocation: 'Container'

- stage: HelloWorld
  displayName: 'Print Hello World'
  jobs:
  - job: HelloJob
    steps:
    # - script: |
    #           echo "Starting Agent"
    #           curl -X POST https://sonalaitest.services.ai.azure.com/api/projects/my-foundry-project/openai/responses?api-version=2025-11-15-preview \
    #           -H "Content-Type: application/json" \
    #           -H "Authorization: Bearer $AZURE_AI_AUTH_TOKEN" \
    #           -d '{
    #           "model": "gpt-4.1-mini",
    #           "input": "What is the size of France in square miles?"
    #           }'
    #   displayName: 'Print Hello World'
    - task: AzureCLI@2
      displayName: Azure CLI
      inputs:
        azureSubscription: mi_ai_agent
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az --version
          az account show