# azure-pipelines.yml
trigger:
- main

pool:
  name: local-agent # your self-hosted agent

steps:
- script: robot -d results tests/api
  displayName: 'Run API robotfrmework'

- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'results/output.xml'
   # searchFolder: '$(System.DefaultWorkingDirectory)/results'
   # mergeTestResults: true
    testRunTitle: 'Robot Framework Tests'

- task: PublishBuildArtifacts@1
  condition: succeededOrFailed()
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/results'
    ArtifactName: 'robot-test-results'
    publishLocation: 'Container'
