# azure-pipelines.yml
trigger:
- main

pool:
  name: local-agent # your self-hosted agent

stages:
- stage: RunTests
  displayName: 'Run API Tests'
  jobs:
  - job: TestJob
    steps:
    - script: robot -d results tests/api
      displayName: 'Run API robotfrmework'

    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'results/output.xml'
       # searchFolder: '$(System.DefaultWorkingDirectory)/results'
       # mergeTestResults: true
        testRunTitle: 'Robot Framework Tests'

    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/results'
        ArtifactName: 'robot-test-results'
        publishLocation: 'Container'

- stage: HelloWorld
  displayName: 'Print Hello World'
  jobs:
  - job: HelloJob
    steps:
  
    - task: AzureCLI@2
      displayName: 'Call Azure AI API'
      inputs:
        azureSubscription: mi_ai_agent
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az --version
          az account show
          curl -X POST "https://sonalaitest.cognitiveservices.azure.com/openai/deployments/gpt-4.1-mini/chat/completions?api-version=2025-01-01-preview" \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $(AZURE_API_KEY)" \
              -d '{
                  "messages": [
                      {
                          "role": "user",
                          "content": "I am going to Paris, what should I see?"
                      }
                  ],
                  "max_completion_tokens": 13107,
                  "temperature": 1,
                  "top_p": 1,
                  "frequency_penalty": 0,
                  "presence_penalty": 0,
                  "model": "gpt-4.1-mini"
              }'
      env:
        AZURE_API_KEY: $(AZURE_API_KEY)